*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
nav{
    height: 6vh;
    width: 100%;
    display: flex;
    
    background-color: rgb(133, 198, 252);
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
#cont-img{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img-nav{
    height: 100%;
    width: 70px;
    align-items: center;
}
#yo-prog{
    color:honeydew;
}

#button{
    padding: 5px;
    border-radius: 5px;
    background-color: bisque;
    margin-right: 2%;
}
h1{
    color:#8484ff5c;
    text-shadow: 1px 1px 1px black;
    margin-left: 5px;
}
h2{
    margin-left: 5px;
}
#principal{
    display: flex;
    flex-direction: column;
    height:84vh;
    width: 100vw;
    background-color:rgb(219, 245, 219);
}
#pie{
    background-color:rgb(248, 205, 205);
    width: 100vw;
    height: 10vh;
}
#banner{
    width: 100vw;
    height:20vh;
    background-color: rgb(182, 240, 182);
    border-bottom-color: white ;
    border-bottom-style:solid ;
    border-bottom-width:15px ;
}
#foto-banner{
    width: 100%;
    height: 100%;
}
#fperfil{
    width: 95%;
    height: 95%;
    border-radius: 50%;
}
#foto-perfil{
    margin-top: -85px;
    margin-left: 25px;
    display: flex;
    border-style: solid;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-color: white;
}
.separador{
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-color: gray;
    border-top-style:groove ;
    border-top-width:3px ;
}
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: #275fa0;
  }
  #experiencia{
      margin-left: 5px;
      margin-bottom: 5px;
  }
  #acerca-de{
      margin-left: 5px;
      margin-bottom: 5px;
  }
  