*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
nav{
    height: 6vh;
    width: 100%;
    display: flex;
    
    background-color: rgb(133, 198, 252);
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
#cont-img{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img-nav{
    height: 100%;
    width: 70px;
    align-items: center;
}
#yo-prog{
    color:honeydew;
}

#button{
    padding: 5px;
    border-radius: 5px;
    background-color: bisque;
    margin-right: 2%;
}
h1{
    color:#8484ff5c;
    text-shadow: 1px 1px 1px black;
    margin-left: 5px;
}
h2{
    margin-left: 5px;
}
#principal{
    display: flex;
    flex-direction: column;
    height:89vh;
    width: 100vw;
    background-color:rgb(229, 153, 219);
    background-image: linear-gradient(45deg, #3f946a, #032546);
}
#pie{
    background-color:rgb(248, 205, 205);
    width: 100vw;
    height: 5vh;
}
#banner{
    width: 100vw;
    height:25vh;
    background-color: rgb(26, 156, 26);
    border-bottom-color: rgb(135, 135, 167) ;
    border-bottom-style:solid ;
    border-bottom-width:15px ;
}
#foto-banner{
    width: 100%;
    height: 100%;
}
#fperfil{
    width: 95%;
    height: 95%;
    border-radius: 50%;
}
#foto-perfil{
    margin-top: -75px;
    margin-left: 25px;
    display: flex;
    border-style: solid;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-color: rgb(135, 135, 167) ;
}
.separador{
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-color: gray;
    border-top-style:groove ;
    border-top-width:3px ;
}
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    background-color: #032546;
    color: #fff;
    border-radius: 100%;
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: #0475f7;
  }
  #experiencia{
      margin-left: 5px;
      margin-bottom: 5px;
  }
  #acerca-de{
      margin-left: 5px;
      margin-bottom: 5px;
  }
  